<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <title>node tests</title>
</head>
<body>
	<script type='text/x-ejs-template'></script>
    <div class='parent'>
		<a href="#"><div class='child'><p id='label'>Text</p></div></a>
		<a href="#"><div class='child'><p id='label'>Text</p></div></a>
		<a href="#"><div class='child'><p id='label'>Text</p></div></a>
		<a href="#"><div class='child'><p id='label'>Text</p></div></a>
	</div>
	<br>
    <h1>Node js Template</h1>
    <p>This is an ejs page</p>

</body>
</html>