<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script
  	src="https://code.jquery.com/jquery-3.4.1.min.js"
  	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  	crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <script>
		let age = 19;
		var array = [
			"string1",
			"string2",
			"string3",
			"string4",
		]
		var str  = $('#testTemplate').html();
    </script>
    <title>node tests</title>
</head>
<body>
	<script type='text/x-ejs-template'></script>
    <h1>Welcome to the homepage</h1>
    <p>This is an html page</p>

</body>
</html>